@mixin title {
  color: black;
  opacity: 0.8;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 40px 0;

  @media only screen and (max-width: 480px) {
    font-size: 2rem;
  }
}

@mixin site-title {
  @include title;
  font-family: 'Fira Sans', sans-serif;

}

@mixin post-title {
  @include title;
  font-family: 'Source Sans Pro', sans-serif;

}

@mixin text-bread {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}

@mixin text-header {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}