@import "../../styles/mixins";

div.card {
  position: relative;
  height: 20rem;
  width: 18rem;
  background: #EDEDED;
  margin-bottom: 2rem;

  ul {
    > li {
      margin-bottom: 1rem;
      &.card--title {
        @include text-header;
        text-align: center;
        padding-top: 20px;
      }
      &.card--text {
        @include text-bread;
        padding: 10px;
        font-weight: bold;
        justify-content: space-around;
      }

      span {
        opacity: .7;
        padding-right: 5px;
      }
    }
  }
}

